header {
    background-color: #1e3263c9;
    width: 100%;
    display: flex;
    position: fixed;
    top:0;
    height: 80px;
    left: 0;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s color 0.3s;
} 

 

.logo {
    text-decoration: none;
    display: flex;
    color:  white;
    font-weight: bold;
    font-size: 2em;
    margin-left: 7%;
}

/* Style pour la navigation */
.navigation {
    display: flex;
    align-items: center;
}


.navigation a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-bottom: solid 2px transparent; /* Bordure inférieure par défaut, transparente */
    transition: border-bottom-color 0.3s; /* Transition pour la couleur de la bordure inférieure */
}


table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
}

/* Style des en-têtes du tableau */
table th {
    text-transform: uppercase;
    background-color: #4a4a4a; 
    color: #ffffff; 
    padding: 10px;
    border: 2px solid #333333;
}

/* Style des cellules du tableau */
table td {
    padding: 10px;
    border: 1px solid #cccccc; 
    font-size: 1rem; 
}

/* Style des lignes de tableau */
table tr:nth-child(even) {
    background-color: #f2f2f2; /* Couleur de fond pour les lignes paires */
}

table tr:nth-child(odd) {
    background-color: #ffffff; /* Couleur de fond pour les lignes impaires */
}

/* Style du bouton de suppression */
button {
    margin-left: 40%;
    background-color:  #e60000;
    color: #ffffff;
    padding: 0.5rem 1rem; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  #7a0c0c ; 
}
